[submodule "tmux/plugins/catppuccin/tmux"]
	path = tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tmux-pain-control"]
	path = tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "tmux/plugins/tmux"]
	path = tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux.git
